name: Publish container image

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * */7"

env:
  REGISTRY: ghcr.io
jobs:
  publish-docker-image:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    name: Publish Docker image

    steps:
      - name: Check out repo
        uses: actions/checkout@v6.0.2
        with:
          ref: master
          fetch-depth: 1
      - name: Extract semver
        id: extract_semver
        run: |
          echo "semver=$(grep -oP 'ARG NEXTCLOUD_DESKTOP_VERSION=\K.*' Dockerfile | cut -d'-' -f 1)" >> $GITHUB_OUTPUT
      - name: Log in to the Container registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push to Container Registry
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          push: true
          tags: |
            ghcr.io/dangmai/nextcloud-desktop:${{ steps.extract_semver.outputs.semver }}
            ghcr.io/dangmai/nextcloud-desktop:latest
